@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap');

*{
padding:0;
margin:0;
font-family: 'Cairo', sans-serif;

}

nav ul{
    background-color: rgb(77, 13, 13);
    text-align:center;
}

nav ul a li{
    display:inline-block;
    padding: 20px;
    color: rgba(224, 200, 200, 0.952);
}

nav ul li:hover{
    background-color: rgba(224, 200, 200, 0.952);
    color: rgb(92, 21, 21);
}

.main{
    height: 300px;
    background-image:url(../images/main.jpg);
    background-size: cover;
    background-position: center center;
}

.content{
    margin : 100px 0;
}

.content>p{
    font-size: 22px;
    margin: auto;
    width: fit-content;
    background-color:rgba(77, 13, 13, 0.745);
    color: rgba(234, 217, 217, 0.952);
    padding: 5px;
    border-radius: 10px;
}

.courses{
    display: flex;
}

.course{
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    height: 500px;
    background-color: rgba(224, 200, 200, 0.952);
    border: #000 solid 2px;
    border-radius: 15px;
    transition: 0.3s all ;
} 

.course h3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 23px;
    background-color:rgba(235, 222, 222, 0.952);
    border-radius: 10px;
    padding: 3px;
}

.course img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    border: rgb(61, 54, 54) solid 1.5px;
}

.course p{
    font-size: 20px;
    text-align:justify;
}

.features .feature{
    width: 30%;
    height: 150px;
    text-align: center;
    background-color: rgba(224, 200, 200, 0.952);
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s all ;
}

.features .feature:hover ,.course:hover{
    background-color: #fff;
    transform: translateX(0.3rem);
    box-shadow: 3px 3px 10px rgb(17, 124, 186);
    cursor: pointer;
}

.course:hover{
    background-color: rgba(245, 238, 238, 0.952);
    transform: translateX(0.3rem);
    box-shadow: 10px 10px 15px rgb(17, 124, 186);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(227, 70, 88);
}

.course:hover h3{
    background: rgb(176, 209, 227);
}
.course:hover p{
    font-weight:bold;
}

.features{
    display: flex;
    margin-bottom: 30px;
}

.feature i{
    background-color: rgb(87, 127, 150);
    padding: 8px;
    border-radius: 40%;
}

.feature h3{
    margin: 8px;
}

.our-features h2 ,.contact-form h2, .content h2{
    background-color:rgb(77, 13, 13);
    color: rgba(224, 200, 200, 0.952);
    margin: 20px auto 10px auto;
    padding: 5px;
    width: fit-content;
    border-radius: 15px;
}

.contact-form h2 {
    margin-bottom: 40px;
    padding: 10px;
}

.contact-form{
    width: 530px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(224, 200, 200, 0.952);
}

.contact-form .input-form input,.contact-form .input-form textarea{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size:20px;
    padding-left: 6px;
}

.contact-form .input-form textarea{
    height: 100px;
    border: #000 solid 2px;
    border-bottom-width: 1px;
    border-right-width: 1px ;
    padding-top: 10px;
}

.contact-form label{
    display: inline-block;
    width: 95px;
    font-size: 20px;
}

.spn{
    color:  rgba(224, 200, 200, 0.952);
}

.contact-form button{
    display: block;
    background-color: #000;
    color: rgba(224, 200, 200, 0.952);
    width: 100px;
    height: 50px;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s;
}

.contact-form button:hover{
    color: #fff; 
    background-color: rgb(87, 127, 150);
    transform: translateX(2px);
}

footer{
    position: relative;
    margin-top: 150px;
    background-color: #000;
}

footer ul{
    background-color: black;
    text-align: center;
}

footer ul li{
    display: inline-block;
    padding: 20px;
}

footer ul li i{
    font-size: 25px;
    background-color: rgb(87, 127, 150);
    color: #000;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}

footer ul li i:hover{
    background-color: rgba(224, 200, 200, 0.952);
    transform: translateX(2px);
}

footer h2 , footer h5{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

#smile2{
    position: absolute;
    color: rgba(224, 200, 200, 0.952);
    font-size: 120px;
    bottom: 10px;
    left: 10px;
}

#smile{
    position: absolute;
    color: rgba(224, 200, 200, 0.952);
    font-size: 120px;
    bottom: 10px;
    right: 10px;
}
